h2{
    text-align: center;
    font-size: 35px;
}

.my-side-image{
    display: flex;
    align-items: center;
}

.my-side-image img{
    width: 250px;
    border-radius: 50%;
    margin: 0px 20px;
    /* order: 1; */
}


@media screen and (max-width: 450px){
    .my-side-image{
        flex-wrap: wrap;
    }

    .my-side-image img{
        margin: 0px auto;
        order: 1;
    }
}
