/* CSS for the about page */

h1 {
	font-family: "Times New Roman";
	font-size: 50px;
	text-shadow: 1px 2px 2px grey;
	border-bottom: 1px dashed grey;
	margin: 10px 0px;
}

main {
	text-align: center;
	padding-bottom: 20px;
}

article {
	margin: 10px 0px 20px 0px;
	text-align: left;
}

section img {
	width: 330px; /* change to % for smaller devices*/
	height: auto;
	border-radius: 20px;
	box-shadow: 2px 2px 2px grey;
	float: left;
	margin: 0px 10px 5px 0;
}

section {
	padding: 10px;
	margin: 10px 0px;
	line-height: 1.5em;
	font-family: verdana;
}

.where a {
	text-decoration: none;
	font-family: tahoma;
	font-weight: bold;
}

span {
	background-color: #4CAF50;
	letter-spacing: 1px;
  	padding: 10px;
  	margin: 10px 0px;
  	font-family: arial;
	text-transform: capitalize;
  	box-shadow: 2px 2px 4px grey;
  	border-radius: 20px;
}

span > a {
	text-decoration: none;
  	color: white;
  	font-size: 17px;
  	cursor: pointer;
}
