/* CSS for the contact page */

main {
	text-align: center;
}

.quote {
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

q {
	font-size: 40px;
	text-transform: capitalize;
}

.thanks {
	font-size: 30px;
}

h2 {
	font-size: 50px;
	margin: 10px;
	padding: 10px;
	border-bottom: 1px dashed grey;
}

#creator {
	font-size: 20px;
	padding-left: 40px;
	margin: 10px 0 0 0;
}