/* CSS for all the common properties the files shared */

* {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}

body {
	background-color: lightgrey;
	padding: 0 10px;
	font-family: Arial, Verdana, Monospace, Cursive, Georgia, Helvetica;
}

header {
	padding: 10px 0;
	margin: 10px 0;
	width: 100%;
}

.active {
	letter-spacing: 1px;
	border-bottom-width: 5px;
}

nav a:hover {
	text-decoration: none;
	color: black;
}

nav ul {
	list-style-type: none;
	text-align: center;
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 10px 0;
	margin: 0 0 10px 0;
	background-color: silver;
}

li {
	display: inline;
	padding: 0 10px;
}

.pointer {
	font-family: serif; 
	color: royalblue;
	text-shadow: 1px 1px 1px grey;
	border-radius: 50px;
	padding: 5px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

main {
	margin: 10px 0 10px 0;
	clear: both;
}

footer {
	border-top: 1px dashed grey;
	padding: 10px;
	margin: 20px 0 0 0;
}

.accounts > li a:hover {
	text-decoration: underline;
	color: black;
}

#creator {
	font-family: cursive;
	font-size: small;
}

ul {
	list-style-type: none;
	text-align: center;
}