/* CSS for all the common properties the files shared */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: lightgrey;
	font-family: Arial, Verdana, Monospace, Cursive, Georgia, Helvetica;
	width: 95%;
	margin: 0 auto;
}

body > p {
	text-align: center;
	padding: 5px 0;
	box-shadow: 2px 2px 2px grey;
}

.logo {
	border-radius: 70px;
}

header, main, footer {
	padding: 5px;
	list-style-type: none;
}

header {
	background-color: silver;
	position: sticky;
	top: 0px;
	box-shadow: 2px 2px 2px grey;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav ul > li {
	display: inline;
	padding: 1px;
	margin: 0 5px;
}

.active {
	border-bottom: 5px solid navy;
}

header a, footer a {
	text-decoration: none;
	font-family: verdana;
	font-size: 20px;
	color: navy;
}

header a:hover, footer a:hover {
	color: black;
}

footer {
	background-color: silver;
	text-align: center;
	margin-top: 20px;
}

.accounts {
	list-style-type: none;
	margin-bottom: 10px;
	padding: 5px 0;
}

.accounts li {
	display: inline;
	padding: 2px;
}

.media {
	width: 50px;
	height: auto;
	border-radius: 30px;
}

.media:hover {
	box-shadow: 2px 2px 5px lightgrey;
}