/* CSS for all the common properties the files shared */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: lightgrey;
	font-family: Arial, Verdana, Monospace, Cursive, Georgia, Helvetica;
	width: 95%;
	margin: 0 auto;
}

header > p {
	text-align: center;
	margin-bottom: 5px;
	padding: 10px 0px;
}

.logo {
	border-radius: 70px;
	box-shadow: 2px 2px 2px dimgrey, -2px -2px 2px dimgrey;
}

header {
	box-shadow: 2px 2px 2px grey;
	background-image: url("../img/dark.jpg");
}

header a {
	text-decoration: none;
	font-family: verdana;
	font-size: 20px;
	color: white;
	text-align: center;
}

header a:hover {
	color: black;
}

nav {
	padding: 10px 0px;
	position: sticky;
	top: 0px;
}

nav ul {
	position: sticky;
	top: 0px;
	list-style-type: none;
	text-align: center;
}

nav ul > li {
	display: inline;
	padding: 10px 5px;
	margin: 0px;
}

.active {
	background-color: lightgrey;
	color: black;
}

.active a {
	color: dodgerblue;
}

.not-active a:hover {
	color: white;
}

footer {
	background-color: silver;
	text-align: center;
	margin-top: 20px;
	padding: 10px 0px;
	list-style-type: none;
}

.accounts {
	list-style-type: none;
	margin-bottom: 10px;
	padding: 5px 0;
}

.accounts li {
	display: inline;
	padding: 2px;
}

.media {
	width: 50px;
	height: auto;
	border-radius: 30px;
}

.media:hover {
	box-shadow: 2px 2px 5px lightgrey;
}
