.header-intro, h2{
    text-align: center;
}

.header-intro h1{
    font-size: 50px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-intro div > p{
    font-family: 'Trebuchet MS', sans-serif;
}

.skills{
    display: flex;
    flex-wrap: wrap;
}

.skills img{
    width: 130px;
    border-radius: 50%;
    box-shadow: 2px 2px 12px gray;
}

.skills figcaption{
    margin-top: 10px;
    text-align: center;
}

abbr{
    text-decoration: none;
}



/* Mobile Devices */
@media screen and (max-width: 450px){

    .header-intro h1{
        font-size: 35px;
    }

    .skills figure{
        margin: 10px auto;
    }
}
