.header-intro h1, h2{
    font-family: 'Times New Roman', Times, serif;
}

.header-intro, h2{
    text-align: center;
}

.header-intro h1{
    font-size: 50px;
    margin-bottom: 5px;
}

.header-intro div > p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skills{
    display: flex;
    flex-wrap: wrap;
}

.skills img{
    border: 1px dashed green;
    border-radius: 50%;
}

.skills figcaption{
    text-align: center;
}

abbr{
    text-decoration: none;
}



/* ============================================ */

/* Ipad */


/* Mobile Devices */
@media screen and (max-width: 450px){

    .header-intro h1{
        font-size: 30px;
    }

    .skills figure{
        margin: 10px auto;
    }
}
