/* CSS for the homepage */

.intro, .skills {
	margin: 10px 0px;
	padding: 10px 0px;
	text-align: center;
}

h1 {
	font-size: 50px;
	font-family: helvetica;
	text-align: center;
	margin-bottom: 10px;
	text-shadow: 2px 2px 1px grey;
}

.desc {
	margin-bottom: 20px;
}

h3 {
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 5px;
}

span > a {
	text-transform: capitalize;
	text-decoration: none;
	background-color: #4CAF50;
  	color: white;
  	font-size: 17px;
  	font-family: arial;
  	letter-spacing: 1px;
  	padding: 8px 10px;
  	border-radius: 30px;
  	cursor: pointer;
}

.skills {
	margin: auto;
	width: 40%;
}

h2 {
	font-size: 30px;
	margin: 10px 0px;
}

.skills ul {
	list-style-type: none;
	font-size: 22px;
}

.skills li {
	font-family: consolas;
	box-shadow: 2px 2px 2px gray;
	padding: 10px;
}

.hide-skill {
	display: none;
}