*{
    padding: 0px;
    /* margin: 0px; */
    box-sizing: border-box;
}

body{
    margin: 1% 3%;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}

main{
    margin: 1% 5%;
}

header nav{
    display: flex;
    overflow: hidden;
}

header nav img{
    border-radius: 50%;
    width: 100px;
    border: 1px solid black;
    margin: auto;
}

header nav ul{
    display: flex;
    margin: auto;
    overflow: hidden;
}

header nav ul li{
    display: block;
    text-align: center;
    width: 80px;
}

.active{
    color: rgb(0, 0, 0);
}

/* for navigation li that dont have the .active class name */
header nav ul li :not(.active){
    color: blue;
}

ul{
    list-style-type: none;
    list-style-position: inside;
}

a{
    text-decoration: none;
}

a:hover{
    color:red;
}

p{
    line-height: 1.4em;
    text-align: left;
}

footer{
    background-color: rgb(6, 6, 88);
    margin-top: 40px;
}

footer *{
    color: white;
    text-align: center;
    margin-bottom: 1px;
}

footer ul{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

footer ul li{
    text-align: center;
    width: 90px;
}

footer a{
    text-decoration: underline;
}



@media screen and (max-width: 450px){
    body{
        font-size: 18px;
    }

    header nav{
        flex-direction: column;
    }

    header nav ul li{
        margin: 15px auto;
    }
}
