*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    width: 95%;
    margin: auto;
    font-size: 18px;
    font-family: 'Trebuchet MS', sans-serif;
}

/* HEADER */
header{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-bottom: 2px solid rgb(177, 172, 172);
    padding: 20px 0px;
}

header div{
    flex-basis: auto;
    margin: 0px 10px;
}

header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* MAIN */
main section{
    display: grid;
    /* grid-template-columns: repeat(autofit); */
    grid-gap: 20px;
}

.summary,
.contacts,
.skills,
.projects{
    box-shadow: 2px 2px 2px grey;
    padding: 10px;
    border-radius: 5px;
}

.contacts ul{
    list-style-type: circle;
    list-style-position: inside;
}

.contacts ul li{
    margin: 5px 0px;
    font-style: italic;
}

.contacts ul li a{
    text-decoration: none;
}

.contacts ul li a:hover{
    text-decoration: underline;
    color: navy;
    font-style: normal;
}

section div h3{
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

.summary{
    border-right: 5px solid lightgreen;
    border-left: 5px solid lightgreen;
}

.summary p{
    line-height: 1.4em;
}

.skills figure img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.languages section{
    display: flex;
    text-align: center;
}

a:hover{
    color:red;
}

/* FOOTER */
.copyright{
    text-align: center;
    color: grey;
    padding: 10px 0px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 450px){
    body{
        font-size: 18px;
    }

    header nav{
        flex-direction: column;
    }

    header nav ul li{
        margin: 15px auto;
    }
}
