.quote, h3, .project-link{
    text-align: center;
}

.projects{
    display: flex;
    flex-wrap: wrap;
}

.projects div{
    padding: 10px;
    flex-basis: 350px;
    box-shadow: 2px 2px 2px gray;
    margin: 10px 5px;
}

section div p > img{
    width: 250px;
    height: 270px;
    margin-left: 30px;
}

div blockquote{
    text-align: right;
}

.project-link a{
    background-color: rgb(5, 89, 128);
    color: white;
    font-size: 20px;
    padding: 10px 70px;
    border-radius: 20px;
    box-shadow: 1px 1px 2px teal;
}


/* Mobile Devices */
@media screen and (max-width: 770px){
    .projects{
        justify-content: center;
    }

    .projects div{
        flex-basis: 500px;
    }
}
