*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    padding: 1em;
    font-family: 'Trebuchet MS', sans-serif;
}

/* HEADER AND NAVIGATION 
========================================================================================== */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    border-bottom: 2px solid rgb(177, 172, 172, 0.3);
    padding: .5em 0px;
} 
 
header h1{ font-size: 2.4rem; } 

header div p{
    font-size: 1.2rem;
    font-style: italic;
}

#logo img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

nav ul img{
    width: 2rem;
    height: 2rem;
}

nav ul{
    margin: 1em 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    text-align: center;
    flex: 0 1 80px;
}

nav{
    background-color: white;
    position: sticky;
    top: 0px;
    padding: 5px 0px;
} 

/* MAIN 
============================================================================ */
main section{
    display: grid;
    /* grid-gap: 10px; */
    font-size: 1.2rem;
}

.summary, .skills, .projects{ padding: .3em; }

section h2{
    font-size: 2rem;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .6em;
}

.summary p{
    line-height: 1.6;
    margin-bottom: .6em;
}

/* SKILLS
============================================================================ */
.skills h3{
    color: grey;
    margin-bottom: .5em;
}

.skills-wrapper div{ margin-bottom: 1em; } 

/* PROJECTS
============================================================================== */
.projects-wrapper{ 
    display: grid;
    grid-gap: 20px;
}

.projects-wrapper div{
    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 3px;
    padding: .3em;
}

.projects-wrapper div h3{
    color: olive;
    margin-bottom: 0.5em;
}
.projects-wrapper div p{
    line-height: 1.5;
    margin: 0.6em 0;
}

.project-link a{
    text-align: center;
    display: block;
    width: 90%;
    margin: auto;
    padding: .4em;
    border: 1px solid lightblue;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: capitalize;
}

blockquote{ text-align: right; } 

/* FOOTER
===================================================================================== */
.copyright{
    text-align: center;
    color: grey;
    padding-top: 1em;
}


/* MEDIA QUERIES
==================================================== */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
    header h1{ font-size: 3rem; }

    .projects-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    .projects-wrapper div{
        display: grid; 
        padding: 1em;
    }

    .project-link{ align-self: flex-end; }
}

/* Larger than tablet */
@media (min-width: 750px) {
    main section:first-child{
        max-width: 70%;
        margin: auto;
    }

    .projects{ 
        width: 80%;
        margin: auto;
    }    
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .projects-wrapper{ grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
