/* HEADER
===================================================== */
header ul{ gap: 1em; font-size: 1.4rem;}
header ul a{ color: teal; }

/* MAIN
================================================= */
main{
	width: 90%;
	margin: auto;
}

/* ABOUT
================================================== */
.about-us{ margin-bottom: 1.5em; }
.about-us div.info{
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.about-us figure.image img{
	border-radius: 100%;
}

.summary p{
	max-width: 70ch;
	/* font-size: 1.15rem; */
}

/* PROJECTS
================================================== */
.projects{ margin-bottom: 1.5em; }
.project-list{
	display: grid;
	gap: 1em;
}

.project-list a{ color: teal; }

.project-card{
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
	transition: box-shadow .3s ease;
}
.project-card:hover{
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.project-list figure.image img{
	max-height: 200px;
}

/* SKILLS & HOBBIES
======================================================== */
.skills{
	display: grid;
	grid-gap: 2em;
}


/* FOOTER
================================================== */
footer p{
	color: gray;
}

/* MEDIA QUERIES
==================================================== */
@media (min-width: 400px){}

@media (min-width: 576px) {
	.skills{
		grid-template-columns: repeat(2, 1fr);
	}
	.about-us div.info{
		flex-direction: row;
	}
}

@media (min-width: 768px) {
	.project-list{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 992px) {
	.project-list{
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2em;
	}
	.skills{
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1200px) {}
@media (min-width: 1400px) {}
