*, *::after, *::before{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html{ font-size: 62.5%; }
body{ font-family: 'Trebuchet MS', sans-serif; }

/* HEADER
===================================================== */
header{
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: .3em;
	border-bottom: 1px solid #9999998f;
}

header h1{
	font-size: 3.2rem;
	line-height: 1.3;
	margin-bottom: .25em;
}

header .title{
	margin-bottom: .7em;
	font-family: 'Noto Sans JP', Arial, sans-serif;
	font-size: 1.8rem;
	font-style: italic;
	font-weight: lighter;
}

header ul{
	margin: 1em 0;
	display: flex;
	list-style-type: none;
	gap: 2.5em;
}

header ul img{
	width: 2.5rem;
	height: 2.5rem;
}

/* MAIN
================================================= */
main{
	width: 95%;
	margin: auto;
	padding: 2em .5em;
}

/* ABOUT
================================================== */
#about {
	margin: auto;
	display: grid;
	align-items: center;
}

#summary{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: italic;
	padding: 0 .5em;
}

#summary figure img{
	width: 10em;
	height: 10em;
	border-radius: 50%;
}

#summary p{
	line-height: 1.5;
	font-size: 1.65rem;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* SKILLS
======================================================== */
#skill-and-hobby{ margin: 1em 0; }
#skill-and-hobby h3{
	color: grey;
	margin-bottom: .5em;
	font-size: 1.8rem;
}

#skills a{
	color: darkblue;
	text-decoration: none;
}
.languages, .libraries, .tools { margin-bottom: 1em; }
#skills p{
	font-size: 1.5rem;
	line-height: 1.6;
}

/* HOBBIES
================================================== */
#hobbies ul{
	list-style: circle inside;
	line-height: 1.8;
	color: #222;
}
#hobbies li{ font-size: 1.6rem; }

/* PROJECTS
================================================== */
#projects h2{
	font-size: 2.2rem;
	margin-bottom: 1em;
	margin-left: 1em;
}

#projects-wrapper{
	display: grid;
	grid-gap: 2em;
	padding: 1em;
}

#projects-wrapper figure{
	padding-bottom: 1.5em;
	box-shadow: 4px 4px 10px 2px lightgray;
	border-radius: 4px;
}

#projects-wrapper figure h3{
	font-size: 1.8rem;
	margin-bottom: .5em;
	color: #222;
}

#projects-wrapper figure img{
	width: 100%;
	max-height: 12em;
	object-fit: cover;
}

#projects-wrapper figcaption{ padding: .5em; }
#projects-wrapper figcaption p{
	text-align: center;
	font-size: 1.45rem;
	line-height: 1.5;
}

blockquote{
	margin: .5em 0;
	padding: 0 .5em;
	color: grey;
	text-align: right;
	font-size: 1.3rem;
	font-style: italic;
}

.project-links{
	display: flex;
	justify-content: center;
	gap: 2em;
}

.project-links a{
	display: inline-block;
	color: white;
	background-color: royalblue;
	font-weight: bold;
	font-size: 1.5rem;
	padding: .5em;
	border-radius: 2px;
	text-decoration: none;
}

#other-projects{
	text-align: center;
	margin-top: 1.4em;
	font-size: 1.55rem;
}

#other-projects a{
	color: blue;
	text-transform: capitalize;
	margin-left: .4em;
}

/* FOOTER
================================================== */
footer{ text-align: center; }
#copyright{
	color: gray;
	font-size: 1.15rem;
	font-style: italic;
	padding: 1.5em;
	line-height: 1.5;
}

/* MEDIA QUERIES
==================================================== */
@media screen and (min-width: 400px){}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	#about{ width: 70%; }
	#projects-wrapper{ grid-template-columns: repeat(2, 1fr); }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	main{ width: 90%; }

	#skill-and-hobby{
		display: flex;
		gap: 3em;
		justify-content: center;
	}

	#summary{
		gap: .5em;
		flex-direction: column;
		margin-bottom: 2.5em;
	}
	.project-links a:hover{	background-color: navy; }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	#projects{
		width: 90%;
		margin: auto;
	}
	#projects-wrapper{ grid-template-columns: repeat(4, 1fr); }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
