/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

/*     font-family: 'Playfair Display', serif; */
/*     font-family: 'PT Sans', sans-serif; */
*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  position: relative;
  min-height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body{
  background-color: hsl(210, 46%, 95%);
}
a {
	color: rgb(0,100,200);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
/* Style the active links on the navbar */
.active {
  color: teal;
  font-weight: bold;
}
nav a:not(.active){
  color: hsl(210, 14%, 53%);
}

.container{
  max-width: 1024px;
  margin-inline: auto;
  padding: 1em;
}

@media screen and (min-width: 768px){
  /* nav a:not(.active):hover{
    color: rgb(48, 48, 221);
  } */
}
